@import "tailwindcss";

:root {
    background-color: #0a0a0a;
    color-scheme: dark;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    overscroll-behavior-y: none;
    min-height: 100vh;
}